.tpf-mf-select-icon {
  width: 100%;
  height: 100%;
  .el-dialog__body {
    display: flex;
    flex-flow: row wrap;
    max-height: 100%;

    .tpf-mf-select-icon--item {
      width: 80px;
      height: 80px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
  
      &__active, &:hover {
        background-color: #eee;
        cursor: pointer;
      }

      i {
        font-size: 38px;
      }
    }
  }
}